html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
  padding: 50px;
}

h1 {
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

p {
  padding-left: 50px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

button {
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  border-style: ridge;
}